.card {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    background-color: var(--glam-background-color-second);
    padding: 2rem;
    border-radius: 2rem;
    height: 85%;
    border: 2px solid rgba(205, 171, 98, 0.6);
    -webkit-box-shadow: 0px 8px 17px 0px rgba(17, 17, 17, 1);
    -moz-box-shadow: 0px 8px 17px 0px rgba(17, 17, 17, 1);
    box-shadow: 0px 8px 17px 0px rgba(17, 17, 17, 1);

    &-header {
        display: flex;
        justify-content: space-between;

        &-image {
            &-img {
                width: 100px;
                border-radius: 100%;
            }
        }
    }

    &-content {
        margin-top: 1rem;
        font-size: 18px;
    }

    &-footer {
        display: flex;
        margin-top: auto;
        justify-content: flex-end;
        padding-top: 0.5rem;
    }

}

@media only screen and (max-width: 1304px) {
    .card {
        max-width: 300px;
    }
}

@media only screen and (max-width: 991px) {
    .card {
        max-width: 290px;
    }
}

@media only screen and (max-width: 767px) {
    :host {
        width: 90%;
    }

    .card {
        max-width: 100%;
    }
}

@media only screen and (max-width: 379px) {
    .card {
        &-header {
            &>div{
                font-size: 29px !important;
            }
            
            &-image {
                &-img {
                    width: 90px;
                }
            }
        }
    }
}