<footer class="footer">
    <div class="bordered-text">Jak dojechać?</div>
    <div class="footer-map hr-bottom">
        <img src="/svg/map-point.svg" alt="map point icon">
        <a href="https://maps.app.goo.gl/qxFzcaJogsk8V92T6">Bronisława Czecha 25a lokal 7, 42-224 Częstochowa</a>
    </div>
    <div id="kontakt"  class="bordered-text">Kontakt</div>
    <div class="footer-contact hr-bottom">
        <div class="footer-contact-item">
            <img src="/svg/phone.svg" alt="phone icon">
            <a href="tel: +48 793 220 710">+48 793 220 710</a>
        </div>
        <div class="footer-contact-item">
            <img src="/svg/email.svg" alt="email icon">
            <a href="mailto: kontakt@studioglambeauty.pl">kontakt&#64;studioglambeauty.pl</a>
        </div>
    </div>
    <div class="footer-socials">
        <a href="https://www.facebook.com/glambeautystudiourody"> <img src="/svg/facebook.svg" alt="facebook icon"> </a>    
        <a href="https://www.instagram.com/olabielawska.biznesbeauty?igsh=MTdwYWgwZmNzNjExOA%3D%3D&utm_source=qr"> <img src="/svg/instagram.svg" alt="instagram icon"> </a>
    </div>
    <div class="footer-copyright">&copy; 2025 GlamBeauty Studio Urody. Wszeklie prawa zastrzeżone</div>
</footer>