<nav class="navbar">
    <a routerLink="/"> <img class="navbar-logo" src="/img/reduced.webp" alt="glambeauty logo"> </a>
    <img (click)="mobile()" class="navbar-hamburger" src="svg/lines.svg" alt="hamburger menu icon">
    <div class="navbar-menu">
        <a class="navbar-menu-item" [routerLink]="'/strona-glowna'" routerLinkActive="navbar-menu-item-active">Strona główna</a>
        <a class="navbar-menu-item" [routerLink]="['/o-nas']" routerLinkActive="navbar-menu-item-active">O nas</a>
        <a class="navbar-menu-item" routerLink="/uslugi" routerLinkActive="navbar-menu-item-active">Usługi</a>
        <a class="navbar-menu-item" routerLink="/cennik" routerLinkActive="navbar-menu-item-active">Cennik</a>
        <a class="navbar-menu-item" href="https://www.naffy.io/aleksandra-bielawska">Szkolenia</a>
        <div class="navbar-menu-item" (click)="scroll()">Kontakt</div>
      </div>
</nav>
@if(isOpen()){
<nav class="mobile" @open>
    <a class="navbar-menu-item" [routerLink]="'/strona-glowna'" routerLinkActive="navbar-menu-item-active" (click)="mobile()">Strona główna</a>
    <a class="navbar-menu-item" [routerLink]="['/o-nas']" routerLinkActive="navbar-menu-item-active" (click)="mobile()">O nas</a>
    <a class="navbar-menu-item" routerLink="/uslugi" routerLinkActive="navbar-menu-item-active" (click)="mobile()">Usługi</a>
    <a class="navbar-menu-item" routerLink="/cennik" routerLinkActive="navbar-menu-item-active" (click)="mobile()">Cennik</a>
    <a class="navbar-menu-item" href="https://www.naffy.io/aleksandra-bielawska" (click)="mobile()">Szkolenia</a>
    <div class="navbar-menu-item" (click)="scroll() " (click)="mobile()">Kontakt</div>
</nav>
}