.navbar {
    font-size: 18px;
    height: 124px;
    width: calc(100% - 4rem);
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: #292929;
    position: fixed;
    top: 0;
    z-index: 2;
    scroll-behavior: smooth;

    &-logo {
        width: 250px;
    }

    &-menu {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;

        &-item {
            margin: 1rem;
            text-decoration: none;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 50%;
                height: 4px;
                background-color: #CDAB62;
                transition: width 0.3s ease;
                width: 0;
            }

            &:hover::before {
                width: 50%;
            }

            &-active {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 50%;
                    height: 4px;
                    background-color: #CDAB62;
                }

                &:hover::before {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background-color: #CDAB62;
                }
            }
        }
    }

    &-hamburger {
        display: none;
    }
}
.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 124px;
    left: 0;
    width: 100%;
    background-color: #292929;
    z-index: 2;
}

@media only screen and (max-width: 991px) {
    .navbar {
        justify-content: space-between;
        flex-wrap: wrap;
        &-menu {
            display: none;
        }

        &-hamburger {
            display: block;
        }
    }
}
@media only screen and (max-width: 379px) {
    .navbar {
        &-logo {
            width: 180px;
        }
    }
}