.container {
    width: 100%;
}

.expanding {
    width: 80%;
    margin: auto;

    &-heading {
        width: calc(100% - 4rem);
        padding: 2rem;
        background-color: #404040;
        font-size: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-arrow {
            width: 24px;
        }
    }

    &-content {
        width: calc(100% - 4rem);
        padding: 2rem;
        background-color: #222;
    }
}

@media only screen and (max-width: 767px) {
    .expanding {
        width: 100%;

        &-heading {
            font-size: 24px;
        }
    }
}