<div class="about">
    <div class="bordered-text">
        O nas
    </div>
    <div class="about-text">
        Cześć! Jestem Ola i jestem twórczynią GlamBeauty – miejsca, które łączy profesjonalizm, kobiecą energię i pasję
        do piękna.
        W GlamBeauty dbam nie tylko o efekt „wow” po każdej stylizacji rzęs i brwi, ale przede wszystkim o Twój komfort,
        bezpieczeństwo i zadowolenie. Każdy zabieg to chwila relaksu tylko dla Ciebie – w przyjaznej, spokojnej
        atmosferze i z pełnym zaangażowaniem.<br><br>

        Od lat pracuję jako stylistka i kosmetolożka, stale rozwijając się i inwestując w najwyższej jakości produkty
        oraz sprawdzone techniki.

        Oprócz pracy w salonie tworzę również e-booki i szkolenia online – dla kobiet, które chcą zacząć swoją przygodę
        w branży beauty i zbudować niezależność na własnych zasadach.

        GlamBeauty to przestrzeń dla każdej kobiety – tej, która chce poczuć się piękna i zadbana, i tej, która pragnie
        nauczyć się, jak upiększać innych.<br><br>

        Rozgość się – jesteś w dobrych rękach 💕</div>
</div>