<div class="about">
<div class="bordered-text">
    O nas
</div>
<article class="about-text">
GlamBeauty Studio Urody to przestrzeń, w której pasja do piękna łączy się z najnowszymi technologiami i sprawdzonymi technikami. Oferujemy szeroki wachlarz usług – od stylizacji rzęs i brwi po zaawansowane zabiegi kosmetyczne. Nasze usługi to połączenie klasyki z nowoczesnością, jak rzęsy 1:1 oraz instagramowe efekty, które wykonujemy z pełną precyzją i dbałością o komfort naszych klientek.
Nasze studio to także miejsce, gdzie dbamy o zdrowie i wygląd skóry. W naszej ofercie znajdziesz zabiegi takie jak oczyszczanie wodorowe, peelingi kawitacyjne, infuzję tlenową oraz zabiegi rewitalizujące. Dzięki naszym nowoczesnym technologiom każda klientka poczuje się pięknie i zadbana.
Dodatkowo, jako eksperci w branży beauty, oferujemy profesjonalne szkolenia, które pomogą Ci zdobyć niezbędne umiejętności w stylizacji rzęs i brwi oraz kosmetyce. Uczymy nie tylko technik, ale również jak rozwijać karierę w tej dynamicznej branży. Z naszym doświadczeniem i wiedzą stworzysz swoją własną ścieżkę zawodową w świecie beauty.
</article>
</div>
